.impowerBox .qrcode {width: 200px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display: none}
.impowerBox .status {text-align: center;} 
.impowerBox .status.status_browser {
    display: none;
}
.js_switchToFast {
    display: none;
}