单行的

```
overflow:hidden;
text-overflow:elipsis;
white-space:nowrap;
```



超出隐藏。。。，堪比三行情书



超过指定多少行。。。


```
overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
```
