name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          #   cache: npm
      - run: node -v
      - run: rm -rf node_modules package-lock.json pnpm-lock.yaml
      - run: npm cache clean --force
      - run: npm i pnpm -g
      - run: pnpm install --no-cache
      - run: pnpm approve-builds
      # - run: npm audit fix -f

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: .vuepress/dist
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN_HOME }}
